name: Publish Docker image

on:
  push:
    branches: [ main ]

jobs:
  push-to-dockerhub:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ secrets.DOCKERHUB_USERNAME }}/access
          tags: |
            type=ref,event=branch
            type=sha,prefix={{branch}}-

      - name: Build docker image
        run: |
          docker build ./app/access --file ./app/access/Dockerfile --tag cr.yandex/${{secrets.YC_REGISTRY_ID }}/access:latest

      - name: Login to YC Registry
        uses: docker/login-action@v3.0.0
        with:
          registry: cr.yandex
          username: json_key
          password: ${{ secrets.YC_KEYS }}

      - name: Push tag to YC Registry
        run: |
          docker push cr.yandex/${{ secrets.YC_REGISTRY_ID }}/access:latest

#      - name: Build and push Docker image
#        uses: docker/build-push-action@v5
#        with:
#          context: ./app/access
#          push: true
#          file: ./app/access/Dockerfile
#          tags: ${{ steps.meta.outputs.tags }}